.page {
    margin: 0 auto;
    max-width: 500px;
    position: relative;
}

.speech__text {
    text-transform: uppercase;
}

.btn {
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    padding: 10px 15px;
}

.btn + .btn {
    margin-left: 10px;
}

.btn__start,
.btn__stop {
    border-color: #fff;
    color: #fff;
}

.btn__start {
    background-color: green;
}

.btn__stop {
    background-color: red;
}